.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.color {
  background:green;
  color:red;
}

.margin {
  margin:10%;
}

.picture{

  max-width:100px;
  max-height:100px;

  display: block;margin: auto;

}
.diceContainer{
  background:white;
  display:flex;
  flex-direction:column;
  flex:1;

  border-right:solid 5px white;


}

.dices{
display:flex;
}
.diceLayout{
  display:flex;
  flex:1;
  flex-direction:row;
  margin:auto;

justify-content:center;
  list-style:none;

}
.diceLayout li {
  margin:auto;
}
.cursive {
  font-family:cursive;
  color:lightgrey;
  width:80%;
  border:0;
  text-align:right;
}

.noborder {
	border:0;
}

.td {
  width:50%;
}
.td2 {
  display:flex;
  flex-direction:row;
  border:0
}
